<div class="noselect" ng-controller="SearchResultDocDetailCtrl" ng-click="getSelectionText($event)" > 
  <div class="document" >
    <div class="drag-to-delete-cover"
        ng-show="dropToDeleteCover"
        ui-on-Drop="onDropToDelete($event,$data)" 
        ng-style="{ 'width' : coverWidth}">
    </div>
    <md-content class="md-padding from-top-animation-container">
        <md-card>
          <md-card-content>
               <div class="selected-text-pop-outter" 
                  ng-mouseenter="indicateDropPlace(true);"  
                  ng-mouseleave="indicateDropPlace(false);"
                  ng-show="selectedText.length!=0">
                    <div class="selected-text-pop" 
                        ui-draggable="true" 
                        drag=selectedText 
                        ng-show="selectedText.length!=0">
                      {{selectedText}}
                    </div>
                </div>
                <div class="tabs">
                    <md-tabs  md-dynamic-height class="md-accent" md-selected="data.selectedIndex" md-align-tabs="{{data.bottom ? 'bottom' : 'top'}}">
                      <md-tab>
                        <md-tab-label>Website</md-tab-label>
                        <md-tab-body>
                          <div ng-show="showWarnning" class="warnning">
                             <i class="glyphicon glyphicon-exclamation-sign"></i>

                            Warning: Page is outside the index. Some functions are disabled.
                          </div>
                          <div class="title" >
                            {{doc.title}}
                          </div>
                          <iframe class="content" src="data/iframe.html" id="docDetailHtmlIframe" scrolling="yes" onLoad="iframeOnloadDone();">
                           
                          </iframe>
                        </md-tab-body>
                      </md-tab>
                      <md-tab>
                        <md-tab-label>Parts</md-tab-label>
                        <md-tab-body>
                          <md-list class="parts">
                            <md-list-item class="item-box" ng-repeat="part in doc.cdr_data.crawl_data" >
                              <div class="md-whiteframe-z1 item">
                                <div>
                                  Part #{{$index}}:
                                </div>
                                <div ng-repeat="(key, value) in part">
                                  <div> {{key}} : {{ value }} </div>
                                </div>
                              </div>
                            </md-list-item>
                          </md-list>
                        </md-tab-body>
                      </md-tab>
                    </md-tabs>
                </div>
          </md-card-content>
        </md-card>
    </md-content>
  </div>
  <div class="evidence-box noselect">
    <md-content class="md-padding">
        <md-card>
          <md-card-content>
            <div class="parent">
              <div class="child" 
                      id="dropTextBox" >
                <div style="z-index:900;">
                    <div
                      ng-style="{ 'width' : coverWidth}" 
                      class="cover-green" 
                      ng-show="dropCover"
                      ui-on-Drop="onDrop($event,$data)"
                      >
                    </div>
                    <div 
                    class="cover-font" 
                    ng-show="dropCover" 
                    ui-on-Drop="onDrop($event,$data)" >
                        Drag here
                      
                    </div>
                    <div class="chips"
                      ng-click="clickDropTextBox()" >
                        <div 
                          ng-repeat="droppedText in droppedTextArray track by $index" 
                          ng-click="clickDroppedText(droppedText.text);" 
                          ng-right-click="rightClickDroppedText(droppedText,$event)" 
                          on-drop-success="dropTest()"> 
                          <div  
                          drag=droppedText ui-draggable="true" 
                          class="chip" 
                          ng-style="{'background-color':droppedText.backgroundColor}"
                          ng-mouseenter="indicateDropToDeletePlace(true);"  
                          ng-mouseleave="indicateDropToDeletePlace(false);"> 
                                 {{droppedText.text}}
                                 <span ng-show="droppedText.type!=undefined" >({{droppedText.type}})</span>
                                  <div class="remove" ng-click="removeDroppedText($event, $index)">
                                    <md-icon md-svg-icon="md-close" class="ng-isolate-scope md-default-theme" ></md-icon>
                                </div>
                          </div>
                          <div class="menu" ng-style="{left: menuPosition.left, top: menuPosition.top}" >
                              <div  ng-show="droppedText.showMenu" class="dropped-text-types" ng-click="clickMenu(droppedText,'tag',$event)">
                                  tag
                              </div>
                              <div  ng-show="droppedText.showMenu" class="dropped-text-types" ng-click="clickMenu(droppedText,'find more this type',$event)" style="width:140px;">
                                    find more this type
                              </div>
                              <div ng-show="droppedText.showMenu" class="dropped-text-types" style="width:120;" ng-click="clickMenu(droppedText,'find more',$event)">
                                    find more
                              </div>

                          </div>
                          <div class="dropped-text-types-box" ng-show="droppedText.showTypeSelectPanel">
                            <div ng-repeat="type in typeList" class="dropped-text-types" ng-click="clickType(droppedText,type,$event)">
                                {{type}}
                            </div>
                          </div>
                        </div>

                        
                    </div>
                </div>
                <div style="left:50vw;bottom:110px; position:fixed; background-color:red; width:30vw; min-height:20vh; max-height:20vh;z-index:2000; overflow:hidden; background-color:white;border:1px solid gray; overflow-y:scroll; " ng-show="showPossiblePairsPanel">
                    <div ng-show="isLoading" style="margin-left:10vw; margin-top:5vh;">
                        <canvas height="20" width="60" id="loadingAnimation" ></canvas>
                    </div>
                    <div ng-repeat="pair in possiblePairArray" class="pair" ng-click="clickPair(pair)" ng-hide="isLoading">
                        {{pair[0]}} & 
                        {{pair[1]}}
                    </div>
                </div>
              </div>
            </div>
          </md-card-content>
        </md-card>
    </md-content>
  </div>
  <!--
  <div class="evidence-box">
      <md-content class="md-padding">
        <md-card>
          <md-card-content>
            <div class="parent">
              <div class="child">
                
              </div>
            </div>
          </md-card-content>
        </md-card>
      </md-content>
    </div>
  -->
</div>


 <script type="text/javascript">
    (function($) {
        "use strict";
        var icons = new Skycons({
                "windColor": "LightSteelBlue"
            }),
            list = [
                "wind"
            ],
            i;

        for (i = list.length; i--;) 
            icons.set("loadingAnimation", "wind");
        icons.play();
    })(jQuery);
</script>

