<md-menu class="menu-button" >
    <md-button class="md-icon-button" aria-label="Settings" ng-click="  $mdOpenMenu($event)">
        <md-icon md-svg-icon="img/icons/menu.svg" class="button"></md-icon>
    </md-button>
  </md-icon>
  <md-menu-content width="2" >
    <md-menu-item>
      <md-button href="http://141.161.20.98/direwolf/index.php?r=searchEngine" >
          Dynamic Search
      </md-button>
    </md-menu-item>
    <md-menu-item>
      <md-button href="http://cs-sys-1.uis.georgetown.edu/~jl1749/jie/dumpling/index_2.html#" >
          Contrast
      </md-button>
    </md-menu-item>
    <md-menu-item>
      <md-button href="http://141.161.20.98/direwolf/index.php?r=public" >
          Ebola
      </md-button>
    </md-menu-item>
    <md-menu-item>
      <md-button href="http://141.161.20.98/direwolf/index.php?r=laborTrafficking" >
          Labor Trafficking
      </md-button>
    </md-menu-item>
  </md-menu-content>
</md-menu>
<div class="title">
  Minerva II
</div>

<div class="top-right-tools" >
  <i class="glyphicon glyphicon-exclamation-sign open-button"  ng-controller="warningCtrl" ng-click="clickOpenButton()"></i>
  <span class="number">
    2
  </span>
  <script type="text/ng-template" id="topRightToolsWarning.html">
  <md-toast class="top-right-tools-toast top-right-tools-toast-warning">
      <md-list-item class="item" ng-repeat="warning in warnings" ng-click="clickWarning(warning)">
        <div class="content">
          <div class="title">{{ warning.title }}</div>
          <div class="detail">
              <span class="entity">{{ warning.entity }}</span>
              appears in <span class="docs-length">{{ warning.docs.length }}</span> documents
              <span ng-if="warning.duration==0">at the same time.</span>
              <span ng-if="warning.duration!=0">during {{ warning.duration }} seconds.</span>
          </div>
        </div>
        <md-divider ng-if="!$last"></md-divider>
      </md-list-item>
      <i class="glyphicon glyphicon-remove top-right-tools-close"  ng-click="closeToast()"></i>
  </md-toast>
  </script>

  <i class="glyphicon glyphicon-scale open-button"  ng-controller="statisticsCtrl" ng-click="clickOpenButton()"></i>
  <script type="text/ng-template" id="topRightToolsStatistics.html">
  <md-toast class="top-right-tools-toast">
    <div class="top-right-tools-table">
      <div class="top-right-tools-row">
          <div class="top-right-tools-cell">
            # of docucments:
          </div>
          <div class="top-right-tools-cell">
            4906
          </div>
      </div>

      <div class="top-right-tools-row">
          <div class="top-right-tools-cell">
            Corpus size:
          </div>
          <div class="top-right-tools-cell">
            394.94 MB
          </div>
      </div>

      <div class="top-right-tools-row">
          <div class="top-right-tools-cell">
            Unique terms:
          </div>
          <div class="top-right-tools-cell">
            870,632
          </div>
      </div>

    </div>
   
    <i class="glyphicon glyphicon-remove top-right-tools-close"  ng-click="closeToast()"></i>
  </md-toast>
  </script>

  <i class="glyphicon glyphicon-user open-button"   ng-controller="accountCtrl" ng-click="clickOpenButton()"></i>
  <script type="text/ng-template" id="topRightToolsAccount.html">
  <md-toast class="top-right-tools-toast">
    <div class="top-right-tools-table">

      <div class="top-right-tools-row">
          <div class="top-right-tools-cell">
              {{user.firstName}} &nbsp;&nbsp;
              {{user.lastName}}
          </div>
      </div>

      <div class="top-right-tools-row">
          <div class="top-right-tools-cell">
           Sign in as &nbsp;&nbsp;
           {{user.username}}
          </div>
      </div>

      <div class="top-right-tools-row">
          <div class="top-right-tools-cell">
           <a href="#/login" class="btn btn-primary">Logout</a>
          </div>
      </div>

    </div>
   
    <i class="glyphicon glyphicon-remove top-right-tools-close"  ng-click="closeToast()"></i>
  </md-toast>
  </script>

</div>

