
<div ng-controller="ToolboxCtrl"> 
	<md-content class="md-padding">
        <md-card>
          <md-card-content>
          	
              	<md-toolbar>
				    <div layout="row">
				      <div>
				        <md-menu-bar>
				         
				          	<button ng-click="click3DVisualization()">
				                  3D Visualization
				             </button>
				          	<!--
				          	 <md-menu>
				            <button ng-click="$mdOpenMenu()">
				              Entity
				            </button>
				            <md-menu-content>
				              <md-menu-item>
				                <md-button ng-click="show3DEntity()">
				                  3D Entities Structure
				                </md-button>
				              </md-menu-item>
				              <md-menu-divider></md-menu-divider>
				              <md-menu-item>
				                <md-button ng-click="ctrl.sampleAction('Open', $event)">
				                  Entity Extraction
				                </md-button>
				              </md-menu-item>
				            </md-menu-content>
				            </md-menu>
				            -->
				          
				        </md-menu-bar>
				      </div>
				    </div>
				  </md-toolbar>
				  <div class="search-box" ng-keydown="$event.which === 13 && clickSubmit();">
					<div class="input-part">
						 <md-input-container  ng-show="$root.queryMode == 'regular';">
					        <label></label>
					        <input ng-model="$root.queryRegular" columns="1" rows="1" />
					     </md-input-container>

					</div>
					<div  class="button-part search-button" >
						<md-button class="md-raised" ng-click="clickSubmit();" >Query</md-button>
					</div>
				  </div>
		
          </md-card-content>
        </md-card>
    </md-content>
</div>


<script type="text/javascript">
function toNextInput(elmnt,content,event)
{
	if (event.keyCode==8 && content.length==0){
		$(elmnt).prevAll('input').first().focus();
	} else if (content.length==elmnt.maxLength)
	{
		$(elmnt).nextAll('input').first().focus();
	}
}
</script>