<div  class="user-state"  ng-controller="userStateController" >
	<md-content >
        <md-card>
          <md-card-content>
            <div class="parent">
              <div class="child" id="userStateController" > 
                <div class='search-transition-pre' ng-repeat-start="state in $root.stateHistory" ng-show="!$first">
					<img src='img/state_pre.png' />
				</div>
				<div class="search-transition">
					<md-button class="md-raised"  ng-show="!$first">
						{{state.transition}}
					</md-button>
				</div>
				<div class="search-transition-pre" ng-show="!$first">
					<img src="img/state_suc.png">
				</div>
				<md-button  class="md-raised one-query" ng-repeat-end ng-click="clickPreviousQuery(state.query)">
					<div ng-if="state.query!='Paw'">
					{{state.query}}
					</div>
					<div ng-if="state.query=='Paw'">
					<img src="img/paw.png" style="height:13px;">
					</div>
				</div>
              </md-button>
            </div>
          </md-card-content>
        </md-card>
    </md-content>
</div>