*:focus {
outline: 0;
outline: none;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.md-button {
    max-height: 30px;
    min-height: 30px;
    height:30px;
    line-height: 30px;
}
body{
	overflow:hidden !important;
	overflow-y: hidden !important;
	height:100vh;
	width:100vw;
	z-index:1;
}

.header{
	background-color: #3c8dbc;
    font-size:3vh;
    height:5vh;
    width:100vw;
    position: fixed;
    overflow: visible;
}

.header .title{
    color: white;
    font-weight:bold;
    float:left;
    padding:0.6vh 1vw 1vh 0px;
}

.header .menu-button {
    float:left;
    padding:0px;
}

.header .menu-button .button{
    color: white;
    font-weight:bold;
    padding:0px;
    height: 3vh;
    width: 3vh;
}

.header .md-button.md-icon-button {
    width:5vh;
    min-width: 0;
    line-height: 3vh;
    min-height: 3vh;
    max-height: 3vh;
    height: 3vh;
    margin-top:0.7vh;
}

.header .top-right-tools{
    float:right;
    margin-right: 20px;
}


.top-right-tools-table{
    clear: both;
    width:100%;
    padding-bottom: 10px;
}

.top-right-tools-table .top-right-tools-row{
    clear: both;
    padding:10px 0px;
}

.top-right-tools-table .top-right-tools-row .top-right-tools-cell{
    float:left;
    width:50%;
}

.top-right-tools-close{
    position: absolute;
    top:10px;
    right:10px;
}

.top-right-tools-table .btn-primary {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.45);
    border-color: rgba(0, 0, 0, 0.45);
}

.top-right-tools-table .btn-primary:hover {
    color: #fff;
    background-color: #6C7A89;
    border-color: #6C7A89;
    -webkit-transition: background-color 2500ms linear;
    -moz-transition: background-color 200ms linear;
    -o-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
}

.header .top-right-tools .open-button{
    color: #1D5577;
    margin-top: 0.8vh;
    width:3vh;
    margin-left:10px;
    background:#3c8dbc;
}

md-toast.md-top {
    top: 5vh;
}

.header .top-right-tools .open-button:hover{
    color: #023F65;
}

.header .top-right-tools .number{
    border-radius: 2px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .7);
    background-color: #dc0d17;
    background-image: linear-gradient(#fa3c45, #dc0d17);
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .4);
    font-size: 11px;
    padding: 0px 2px;
    position: absolute;
    margin-left: -9px;
}

.top-right-tools-toast{
    background:#F5F5F5;
    color:black;
    max-height:85vh;
    overflow:scroll;
    padding-bottom: 5px;
}

.top-right-tools-toast .top-right-tools-close{
    top:2px;
    right:2px;
}

.top-right-tools-toast .top{
    height:10px;
    width:288px;
}

.top-right-tools-toast-warning{
    padding:0px;
}

.top-right-tools-toast{
    display:block;
}

.top-right-tools-toast.item{
    clear:both;
    width:288px;
}

.top-right-tools-toast .item .content{
    float:left;
    color:black;
    width:250px;
}

.top-right-tools-toast .item .content .title{
    float:left;
    color:black;
    width:250px;
    line-height: 20px;
    margin-top: 7px;
}

.top-right-tools-toast .item .content .detail{
    float:left;
    color:black;
    width:250px;
    line-height: 15px;
    margin-top: 2px;
    margin-bottom: 7px;
    font-size: 12px;
}

.top-right-tools-toast .item .content .detail .entity{
    background:#F2784B;
    padding:0px 3px;
    color:white;
    border-radius: 3px;
}

.top-right-tools-toast .item button{
    clear:both;
    max-height:288px;
}

.sphere-clicked-dropdown-menu{
	position:fixed;
}
.sphere-clicked-dropdown-menu .md-fab-action-item{
	margin-left:30px;
}

.sphere-clicked-dropdown-menu .menu-item, md-fab-speed-dial.md-scale .md-fab-action-item{
	margin:0px;
	padding:1px;
	height:20px;
	min-height:20px;
	font-size: 10px;
	line-height: 10px;
}

.search-result {
	padding-top: 5vh;
}


.search-result .highlight{
	padding:0px 2px;
	color: white;
}

.search-result .doc-list{
	width:50vw;
	float:left;
	overflow:hidden;
}

.search-result .doc-list md-content{
	padding:0px;
	margin-top:0px;
}

.search-result .doc-list md-content md-list-item.md-3-line > .md-no-style {
    height: 87px;
}

.search-result .doc-list md-content md-list-item.md-3-line > .md-no-style{
	padding-right: 0px;
    max-height: 100vh;
}

.search-result .doc-list md-content md-card md-card-content {
    padding: 0px;
} 

.search-result .doc-list md-card{
	min-height: 62vh;
	max-height:62vh;
	overflow: hidden;
}

.search-result .doc-list  md-card .parent{
    height:  62vh;
    width: 100%;
    overflow: hidden;
}

.search-result .doc-list  md-card .child{
    width: 100%;
    height: 62vh;
    overflow: auto;
    padding-right: 15px; 
}

.search-result .doc-list .snippet{
	line-height: 1.4;
    word-wrap: break-word;
    font-size: small;
    font-family: arial, sans-serif;
    max-height: 80px;
    height: 80px;
}

.search-result .doc-list .title{
    font-weight: normal;
    font-family: arial,sans-serif;
    overflow: hidden;
}


.search-result .doc-list .only{
    width:100%;
}


.search-result .doc-list .only .title{
    font-size: 18px;
}

.search-result .doc-list .isTranslated{
    width:49%;
    float:left;
}

.search-result .doc-list .isTranslated .title{
    font-size: 11px;
    font-weight: bold;
}

.search-result .doc-list .isTranslated .snippet{
    font-size: 10px;
    line-height: 1.2;
}

.search-result .controller{
    position: absolute;
}

.search-result .controller{
    width:100px;
    height:30px;
    font-size: 25px;
    bottom:2px;
    right:2px;
    color:#BDC3C7;
}

.search-result .controller .glyphicon:hover{
    color:#333;
}

.search-result .controller .pre-page{
    position: absolute;
    margin-left:0px;
}

.search-result .controller .next-page{
    position: absolute;
    margin-left:35px;
}


.search-result .doc-list .rank{
	background-color: #DADFE1;
    float: left;
    padding: 5px 5px 5px 5px;
    margin-top: 7px;
    font-size: 15px;
    line-height: 15px;
    margin-right: 5px;
    border-radius: 3px;
}


.search-result .doc-detail{
	width:50vw;
	float:left;
}

.search-result .doc-detail .document{
	width:50vw;
	float:left;
}

.search-result .doc-detail .document .drag-to-delete-cover{
    position:absolute; 
    margin: 8px; 
    height: 62vh; 
    z-index:1001; 
    background:none;
    text-align:center;
    font-size:6vh;
    line-height: 16vh;
    color:white;
    padding-top:20vh;
    opacity: 0.7;
}

.search-result .doc-detail .document .drag-to-delete-font{
    opacity: 1;
    background:none;
    z-index:1002;
}

.search-result .doc-detail .document .drag-to-delete-cover.ng-hide-add, .search-result .doc-detail .document  .drag-to-delete-cover.ng-hide-remove {
  transition: all linear 0.2s;
}

.search-result .doc-detail .document .drag-to-delete-cover.ng-hide {
  opacity: 0;
}



.search-result .doc-detail .document .selected-text-pop-outter{
    position: absolute;
    top:40vh;
    left:2vw;
}

.search-result .doc-detail .document .tabs  md-tabs:not(.md-no-tab-content):not(.md-dynamic-height){

}

.search-result .doc-detail .document .tabs md-tabs-canvas{
    height:30px;
}

.search-result .doc-detail .document .tabs md-pagination-wrapper{
    height:30px;
}

.search-result .doc-detail .document .tabs md-tab-content{
    overflow: hidden;

}

.search-result .doc-detail .document .tabs md-tabs.md-accent > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-ink-bar {
    color: #F2784B;
    background: #F2784B;
}

.search-result .doc-detail .document .tabs md-tabs.md-accent > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]) {
    color: #DADFE1;
    font-weight: 600;
    height:30px;
    padding-top:0px;
    line-height: 30px;
}

.search-result .doc-detail .document .tabs md-tabs.md-accent > md-tabs-wrapper {
    background-color: #45B6B0;
}

.search-result .doc-detail .document .tabs  md-tabs.md-accent > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]).md-active {
    font-weight: 600;
    color:white;
    height:30px;
    padding-top:0px;
    line-height: 30px;
}

.search-result .doc-detail .document .tabs .json-container {
    background:#333; 
    max-height:45vh; 
    overflow:scroll;
    padding:5px;
    padding-left:10px;
    cursor: default;
}

.search-result .doc-detail .document  md-card md-card-content{
    padding:0px;
} 
.search-result .doc-detail .document .title{
	font-size: 14px;
    font-weight: bold;
    font-family: arial,sans-serif;
    overflow: hidden;
    margin-bottom: 10px;
    padding:10px 10px 0px 7px;
}

.search-result .doc-detail .document .content{
	line-height: 1.4;
    word-wrap: break-word;
    font-size: small;
    font-family: arial, sans-serif;
    height:45vh;
    width:100%;
    border:none;
    overflow: hidden;

}

.search-result .doc-detail .document .warnning{
    position: absolute;
    color: rgb(244,67,54);
    background-color: rgba(244, 103, 54, 0.23);
    height: 23px;
    font-size: 11px;
    padding: 5px 10px 7px 10px;
    border-radius: 3px;
    right: 5px;
    top: 5px;
}


.search-result .doc-detail .document .from-top-animation-container .ng-hide-add, .search-result .doc-detail .document  .from-top-animation-container .ng-hide-remove {
  transition: all linear 0.5s;
}

.search-result .doc-detail .document .from-top-animation-container .ng-hide {
  line-height: 0;
  opacity: 0;
  top:0px;
}



.search-result .doc-detail .document .images{
    float: left;
    width:100%;
}

.selected-text-pop-outter{
	z-index:1000;
	position:absolute;
}

.search-result .doc-detail .document .selected-text-pop{
	border-radius: 5px;
    display: block;
    height: 32px;
    line-height: 32px;
    margin: 8px 8px 0 0;
    padding: 0 12px;
    float: left;
    box-sizing: border-box;
    max-width: 100%;
    position: relative;
    background: #45B6B0;
    color: white;
    font-family: Roboto,'Helvetica Neue',sans-serif;
    font-size: 16px;
}

.search-result .doc-detail .document md-content{
	padding:0px;
}

.search-result .doc-detail .document md-card{
	min-height:62vh;
	max-height:62vh;
	overflow: hidden;
}

.search-result .doc-detail .document  md-card .parent{
    height:  62vh;
    width: 100%;
    overflow: hidden;
}

.search-result .doc-detail .document  md-card .child{
	position: relative;
    width: 100%;
    height: 62vh;
    overflow: auto;
    overflow-x:hidden;
    padding-right: 15px; /* Increase this value for cross-browser compatibility */
}

.search-result .doc-detail .document .parts .item-box{
    margin-bottom: 15px;
    float:left;
}

.search-result .doc-detail .document .parts .item{
    float: left;
    box-sizing: border-box;
    padding: 10px 10px;
    width:12vw;
    line-height: 1.4;
    word-wrap: break-word;
    font-size: small;
    font-family: arial, sans-serif;
}

.search-result .doc-detail .evidence-box {
	width:50vw;
	float:left;
}

.search-result .doc-detail .evidence-box md-content{
	padding:0px;
}

.search-result .doc-detail .evidence-box md-card{
	min-height:19vh;
	max-height:19vh;
	overflow: hidden;
}

.search-result .doc-detail .evidence-box  md-card md-card-content {
	padding:0px;
	margin:0px;
}

.search-result .doc-detail .evidence-box  md-card .parent{
    height:  19vh;
    width: 100%;
    overflow: hidden;
}

.search-result .doc-detail .evidence-box md-card .child{
    width: 100%;
    height: 19vh;
    overflow: auto;
    padding-right: 15px; 
    cursor: default;
}

.search-result .doc-detail .cover-green {
	z-index:2;
	position:absolute; 
	opacity: 0.5;
	left:1vw;
	top:2vh;
	height: 19vh;
	background-color:#45B6B0;
	text-align:center;
	font-size:6vh;
    margin-top:-7px;
    margin-left:-7px;
}

.search-result .doc-detail .cover-font {
	z-index:2;
	position:absolute; 
	height: 18vh;
	width:48vw;
	left:1vw;
	top:2vh;
	text-align:center;
	font-size:6vh;
	line-height: 16vh;
	color:white;
}

.search-result .doc-detail .evidence-box .chips{
	height:20px;
	padding:5px;
}

.search-result .doc-detail .evidence-box .chips .chip{
	background: #45B6B0;
	color:white;
	float:left;
	padding:3px 10px;
    padding-top: 6px;
    padding-right:5px;
	border-radius: 5px;
	margin: 2px;
    max-width:40vw;
}


.search-result .doc-detail .evidence-box .chips .chip.enterHighlight {
    -webkit-transition: 2s;
    transition: 0.2s;
    background:rgb(242, 38, 19);
}


.search-result .doc-detail .evidence-box .chips .chip span{
    float: left;
    
    
    margin-right: 5px;
}

.search-result .doc-detail .evidence-box .chips .remove{
    text-align: center;
    width: 24px;
    height: 24px;
    min-width: 0;
    padding: 0;
    background: 0 0;
    border: none;
    box-shadow: none;
    margin: 0;
    margin-top:-3px;
    position: relative;
    transition: background 0.15s linear;    
    float:right;
    border-radius: 16px;
    border: solid 1px rgba(255, 255, 0, 0.0);
}

.search-result .doc-detail .evidence-box .chips .remove:hover{
    border: solid white 1px;
    margin:0px;
    margin-top:-3px;
}

.search-result .doc-detail .evidence-box .chips .remove md-icon{
    color:white;
    margin-top: 0px;
    margin-left: -1px;
}
.search-result .doc-detail .evidence-box  .menu{
	position:absolute; 
	top:25px;
	overflow:hidden;
	margin-top:1px;
    z-index: 100;
}

.search-result .doc-detail .evidence-box  .dropped-text-types-box{
    position:absolute; 
    top:25px;
    overflow:hidden;
    margin-top:1px;
    z-index: 1000;
}

.search-result .doc-detail .evidence-box .dropped-text-types{
    float:left; 
    min-width:80px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border-right:solid,white,1px;
    margin-left:1px;
    margin-top:1px;
    text-align: center; 
    border-right: solid 1px white;
    color:white;
    cursor: pointer;
    background-color:#3c8dbc;
    border-radius: 5px;
}
.search-result .doc-detail .evidence-box .dropped-text-types:hover{
    background-color: #357ebd;
}

.search-result .doc-detail .evidence-box .pair{
    padding:10px;
    cursor: pointer;
    font-family: arial, sans-serif;
    color:black;
}
.search-result .doc-detail .evidence-box .pair:hover{
    background-color:#36D7b7;
    color:white;
}

.left-panel{
	float:left;
	width:50vw;
}

.toolbox{
	float:left;
	width: 50vw;
	height:19vh;
}

.toolbox md-content{
	padding:0px;
	margin-top:0px;
    overflow: visible;
}

.toolbox md-input-container .md-input{
    margin-left:10px;
}
.toolbox md-content md-card md-card-content {
    padding: 0px;
} 

.toolbox md-card{
	min-height: 19vh;
	max-height:19vh;
	overflow: visible;
}

.toolbox md-card .parent{
    height: 19vh;
    width: 100%;
    overflow: hidden;
}

.toolbox md-card .child{
    width: 100%;
    height: 19vh;
    overflow: auto;
    padding-right: 15px; 
}

.toolbox md-menu-bar md-menu.md-open > button, md-menu-bar md-menu > button:focus{
	background-color:#3c8dbc;
	color:white;
}

.toolbox md-toolbar{
	background-color:#3c8dbc;
    max-height: 30px;
    min-height: 30px;
    color:white;
}

.toolbox md-menu-bar button {
    font-size: 15px;
    height: 30px;
    color:white;
}

.toolbox md-menu-bar .md-button span {
    color:black;
}


.toolbox md-input-container{
	width:35vw;
}

.toolbox .input-part{
	float:left;
}

.toolbox .button-part{
	float:left;
	margin-top:-10px;
}

.toolbox md-input-container{
	padding-bottom:8px;
}

.toolbox .tools{
}

.toolbox .tools md-radio-button{
	float:left;
}

.toolbox .search-box{
	margin-top:15px;
}

.toolbox .search-button{
	margin-bottom:15px;
}


.graph{
	width:100vw;
	height:100vh;
	float:left;
}
.graph #graph{
	width:100vw;
	height:100vh;
}

.entitiesStructure {
	width:50vw;
	height:500px;
    overflow:hidden;
}

.entitiesStructure .loader-container{
    width:100%;
    height:350px;
    position: absolute;
    text-align: center;
}

.entitiesStructure  .loader-container .loader{
    width:100px;
    position: relative;
    margin:auto;
    margin-top:100px;
}

.entitiesStructure iframe{
	border:none;
	width:50vw;
	height:350px;
}

.entitiesStructure md-dialog-content{
	padding:0px;
}


.login-alert{
    position: absolute;
}

.login-alert .ng-hide-remove {
  transition: all linear 0.2s;
}

.login-alert .ng-hide {
  line-height: 0;
  opacity: 0;
  top:0px;
}


.login {
    margin-top:7vh;
}

